@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Work Sans";
  font-weight: 400;
  color: #252626;
}

p {
  color: #707273;
  font-size: 1rem;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.btn-green {
  background-color: #35AFBF;
  color: white;
}
.btn-green:hover {
  outline: 2px solid #35AFBF;
  color: #35AFBF;
}

.btn-outline-green {
  color: #35AFBF;
  border: 2px solid #35AFBF;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  margin-top: 35px;
}
.btn-outline-green:hover {
  background-color: #35AFBF;
  color: white;
}

hr {
  color: #4B4B4B;
}

.btn-outline-gray {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  background: transparent;
  margin: 20px 0 50px;
}
.btn-outline-gray:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.text-green {
  color: #35AFBF;
}

.header {
  background: #F3FEFF;
}
.header__navbar {
  padding: 35px 0;
  margin-bottom: 59px;
}
.header__navbar .active-link {
  color: #35AFBF;
  font-weight: 700;
}

.main-header__textblock {
  padding-top: 93.18px;
}
@media (max-width: 768px) {
  .main-header__textblock {
    padding-top: 0;
  }
}
.main-header__title {
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 18px;
}
.main-header__text {
  font-size: 21px;
  line-height: 160%;
  margin-bottom: 28px;
}
.main-header__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 35px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  margin-bottom: 50px;
}

.nav-link:hover {
  color: #35AFBF;
}

.services__textblock {
  margin: 160px 0px 60px;
}

.card {
  padding: 30px 22px 28px;
  -webkit-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card:hover {
  background-color: rgba(53, 175, 191, 0.3);
}
.card .card-title {
  color: #252626;
  font-size: 1.4rem;
  line-height: 125%;
  font-weight: 600;
  margin: 20px 0 10px;
}
.card img {
  max-width: 80px;
  max-height: 80px;
}

.people-service {
  margin-top: 120px;
}
.people-service__title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 45px;
  margin-bottom: 10px;
}
.people-service__subtitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: #707273;
  margin-bottom: 20px;
}
.people-service__subtitle::after {
  content: " ______";
  color: #707273;
  display: inline-block;
}

.banner {
  margin-top: 120px;
  background: url("../img/banner-bg.png") no-repeat;
  background-size: cover;
  padding: 130px 0;
}
.banner * {
  color: white;
}
.banner__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
}
.banner__text {
  font-size: 1rem;
  line-height: 160%;
}

.round-btn {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  text-align: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: none;
  background-color: #FFF;
}
.round-btn i {
  color: #35AFBF;
  font-size: 1.5rem;
}
.round-btn:hover {
  background: #35AFBF;
}
.round-btn:hover i {
  color: white;
}

.title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 45px;
}

.features {
  margin-top: 120px;
}
.features__card {
  margin-top: 60px;
}
.features__card::after {
  content: "";
  border-radius: 10px;
  display: block;
  width: 80%;
  height: 2px;
  margin-top: 30px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(53, 175, 191, 0)), color-stop(49.65%, rgba(53, 175, 191, 0.83)), to(rgba(53, 175, 191, 0)));
  background: linear-gradient(90deg, rgba(53, 175, 191, 0) 0%, rgba(53, 175, 191, 0.83) 49.65%, rgba(53, 175, 191, 0) 100%);
}

.response {
  margin-top: 120px;
  padding-bottom: 200px;
}
.response__human {
  width: 80px;
  height: 60px;
}
.response__logo {
  width: 154px;
  height: 30px;
  margin: 100px 0 40px;
}
.response__text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 35px;
}
.response__author {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 80%;
  color: #4B4C4C;
}
.response__profession {
  color: #707273;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 100%;
}
.response__title {
  margin: 120px 0 35px;
}
.response__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 35px;
}

.responce_blue {
  background-color: rgba(209, 244, 249, 0.5);
  padding-bottom: 100px;
}

.footer {
  background-color: #2C353E;
  padding: 79px 0px 39px;
}
.footer i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.footer i:hover {
  color: #35AFBF;
}
.footer__title {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 150%;
  color: #FFFFFF;
}
.footer span {
  font-size: 2.5rem;
  line-height: 45px;
  color: #FFFFFF;
}
.footer__price,
.footer sup {
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.footer__items {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
@media (min-width: 768px) {
  .footer__items:hover {
    text-decoration: underline;
  }
}
.footer__navbar a {
  color: white;
}
.footer__copyright {
  font-size: 0.75rem;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 12px;
  margin-top: 20px;
}